[submodule "bin"]
	path = bin
	url = https://gz-tea.ejoy.com/git/Ant/binary.git
[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rd/ozz-animation"]
	path = 3rd/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/ios-cmake"]
	path = 3rd/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "packages/resources.binary"]
	path = packages/resources.binary
	url = https://gz-tea.ejoy.com/git/Ant/assets.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rd/RxLua"]
	path = 3rd/RxLua
	url = https://github.com/bjornbytes/RxLua
[submodule "3rd/reactphysics3d"]
	path = 3rd/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
