*.dSYM
*.user
**/*.xcworkspace
*.xcscheme
*.xcbkptlist
*.dll
*.exe

.cache
.vscode
.vs
.repo
.build

/3rd/bin
/bin
/log
/clibs/*/o

editor.user.setting
editor.user.ini
script_runner.user.lua
