[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/actboy168/bx.git
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rd/ozz-animation"]
	path = 3rd/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "packages/resources.binary"]
	path = pkg/ant.resources.binary
	url = https://github.com/ejoy/ant.resources.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd/yoga"]
	path = 3rd/yoga
	url = https://github.com/facebook/yoga.git
[submodule "3rd/ltask"]
	path = 3rd/ltask
	url = https://github.com/cloudwu/ltask.git
[submodule "3rd/luaecs"]
	path = 3rd/luaecs
	url = https://github.com/cloudwu/luaecs.git
[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua.git
[submodule "packages/efk/efkbgfx"]
	path = pkg/ant.efk/efkbgfx
	url = https://github.com/cloudwu/efkbgfx.git
[submodule "3rd/math3d"]
	path = 3rd/math3d
	url = https://github.com/cloudwu/math3d.git
[submodule "3rd/stylecache"]
	path = 3rd/stylecache
	url = https://github.com/cloudwu/stylecache
[submodule "3rd/Effekseer"]
	path = 3rd/Effekseer
	url = https://github.com/effekseer/Effekseer.git
[submodule "3rd/zlib-ng"]
	path = 3rd/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "3rd/minizip-ng"]
	path = 3rd/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "3rd/bgfx.luamake"]
	path = 3rd/bgfx.luamake
	url = https://github.com/actboy168/bgfx.luamake
