*.o
*.a
*.exe
*.dll
*.so
*.dSYM
*.user
*.log
**/*.xcworkspace
*.xcscheme
*.xcbkptlist
*.o.d

.vscode
.vs
.repo

/clibs/shadercrelease
/clibs/shadercdebug
/log

/projects/msvc/vs_bin
/projects/msvc/x64
/projects/msvc/Debug
/projects/msvc/Release

/assets/map
/assets/textures
/assets/shaders/dx11
/assets/shaders/glsl
/assets/meshes
/assets/shaders/d3d11
/assets/shaders/ogl
/assets/shaders/ogles
