*.o
*.a
*.exe
*.dll
*.so
*.dSYM
*.user
*.log
**/*.xcworkspace
*.xcscheme
*.xcbkptlist
*.o.d
*.lib

.cache
.vscode
.vs
.repo
_build

/clibs/shaderc[Rr]elease
/clibs/shaderc[Dd]ebug
/clibs/texturec[Rr]elease
/clibs/texturec[Dd]ebug
/log

/projects/msvc/vs_bin
/projects/msvc/x64
/projects/msvc/Debug
/projects/msvc/Release

editor.user.setting
editor.user.ini
script_runner.user.lua
